@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bree+Serif&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playpen+Sans:wght@100..800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(65, 1, 1);
    cursor: pointer;
}

.grammar {
    width: 400px;
    height: 615px;
    background-color: rgb(109, 1, 1);
    position: absolute;
    left: 1430px;
    top: 10px;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    color: white;
}

.grammar-span {
    font-size: 25px;
}

.grammar-span:hover {
    font-size: 30px;
    background-color: yellow;
    color: red;
}

.hilight {
    color: rgb(238, 255, 0);
}

.hilight-title {
    color: rgb(255, 0, 212);
}

img {
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px black;
}

.instructions {
    font-size: 25px;
    color: rgb(0, 225, 255);
    margin-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: 420px 420px;
    max-width: 960px;
    padding: 10px;
    background-color: aliceblue;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
}

.item {
    font-size: 25px;
    
    padding: 3px;
}

.inputs {
    width: 35px;
    border: none;
    background-color: rgb(229, 243, 255);
    text-align: center;
    font-size: 25px;
    color: rgb(255, 51, 0);
    border-radius: 4px;
    border-bottom: steelblue 1px solid;
    font-family: 'bree serif';
}

#input1 {
    width: 40px;
}

#input2 {
    width: 40px;
}

#input3 {
    width: 40px;
}

#input4 {
    width: 40px;
}

#input5 {
    width: 40px;
}

#input6 {
    width: 50px;
}

#input7 {
    width: 40px;
}

#input8 {
    width: 40px;
}


